.about{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: #fff;
    margin: 20px 50px;
}

.content{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.content h1{
    font-size: 40px;
    font-weight: bold;
    color: rgb(52, 187, 164);
    margin-bottom: 20px;
    text-align: center;
}

.content p{
    font-size: 20px;
    font-weight: bold;
    /* color: rgb(137, 52, 187); */
    margin-bottom: 20px;
}