.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro {
    color: #fff;
    background-color: #000;
    padding: 40px;
    margin: 20px;
    width: 80%;
    border-radius: 10px;
    text-align: center;
}

.intro a {
    color: aqua;
    text-decoration: none;
}

.intro p span {
    text-decoration: underline;
    text-decoration-color: aqua;
}

.prediction-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    border-radius: 10px;
    background-color: #fff;
    padding: 25px;
    cursor: pointer;
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.prediction-button:hover {
    width: 60%;
    background-color: #00ddff;
    color: rgb(0, 0, 0);
    box-shadow: rgb(0, 0, 0) 0px 25px 10px -10px;
    transition: all ease-in-out .3s;
}


.divider {
    width: 70%;
    height: 4px;
    background-color: #fff;
    margin: 20px 0;
}

.services {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    width: 400px;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    height: 100px;
    border-radius: 15px;

}

.service:hover {
    box-shadow: rgb(0, 0, 0) 0px 30px 20px -10px;
    transition: all ease-in-out .4s;
}

.service-button-link {
    text-decoration: none;
    color: #000;
    cursor: pointer;
    font-weight: bold;
}

.service-button-link:hover {
    text-decoration: none;
    color: #7424f3;
    cursor: pointer;
}

.news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.news-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    color: #fff;
    height: 300px;
    width: 300px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.news-item a {
    text-decoration: none;
    color: #fff;
}

.news-item-image {
    width: 100%;
    height: 150px;
}

.news-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 10px;
    transition: -webkit-transform 0.25s ease;
    transition: transform 0.25s ease;
}

.news-image:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03)
}

.news-item-content {
    height: 100px;
    width: 100%;
    padding: 10px;
}

.news-title {
    font-size: 16px;
    font-weight: bold;
}

.news-title:hover {
    color: #00ddff
}

.news-description {
    font-size: 14px;
    padding-top: 5px;
    font-weight: 400;
}

h1 {
    color: #c8ff00
}


@media screen and (max-width: 1000px) {
    /* .container {
        height: calc(100vh - 70px);
    } */

    .news {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (max-width: 700px) {
    /* .container {
        height: calc(100vh - 70px);
    } */

    .news {
        grid-template-columns: repeat(1, 1fr);
    }

}

@media screen and (max-width: 500px) {
    .prediction-button {
        width: 70%;
    }

    .prediction-button:hover {
        width: 80%;
    }

    .services {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        width: 60%;
    }
}