input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.container{

    overflow-y: scroll !important;
}
.prediction-container {
    margin: 30px 0;
    width: 70vw;
    border: 1px solid #ccc;
    background-color: #fff;
}

.form-group{
    display: flex;
    flex-direction: column;
}

.form-element{
    display: flex;
    flex-direction: column;
    margin: 0 15%;
    margin-bottom: 10px;
    padding: 10px;
}

.form-label{
    font-weight: bold;
    margin-bottom: 5px;
    padding: 0px 10px 5px 4px;
}

.form-input{
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
}

/* .result{
    
} */