.prediction-container {
    margin: 20px 10%;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    /* overflow-y: scroll !important; */
}

.form-group{
    display: flex;
    flex-direction: column;
}

.form-element{
    display: flex;
    flex-direction: column;
}