input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.prediction-container {
    margin: 30px 0;
    width: 40vw;
    box-shadow: rgb(0, 238, 218) 0px 50px 50px 20px;
    background-color: #fff;
    border-radius: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-element {
    display: flex;
    flex-direction: column;
    margin: 20px 20px 0 20px;
}

.form-label {
    font-weight: 600;
    margin-bottom: 10px;
}

.form-input {
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    
}

.form-input:focus {
    box-shadow: rgb(0, 0, 0) 0px 10px 15px -8px
}

.form-button {
    margin: 20px 20%;
    padding: 15px;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .prediction-container {
        width: 60vw;
    }
}
@media screen and (max-width: 550px) {
    .prediction-container {
        width: 85vw;
    }
}